*
{
margin:00px;
}
@font-face {
    font-family: 'Raleway';
    src: url('polices/*.eot');
    src: url('polices/*k.eot?#iefix') format('embedded-opentype'),
         url('./polices/*k.woff') format('woff'),
         url('./polices/raleway-variablefont_wght.ttf') format('truetype'),
         url('./polices/*k.svg#') format('svg');
}
/* styles généraux*/
.flexstart
{
    display: flex;
    justify-content:flex-start ;
}
.flexcentre
{
    display: flex;
    justify-content: center;
    align-items: center;
        
}
.flexbetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.flexaround
{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
body
{
    font-family: Raleway;
    text-decoration-style: normal;
    margin-left:5px;
}
            /* définition du header */

header
{
display:flex;
justify-content:space-between;
padding:10px;

}
header img
{
    width:72px;
    padding-top:15px;
    
}
header li
{
    display:inline-block;
    padding-left: 15px;
    padding-right:15px;
    padding-top:15px;
          
       
}
.margemenu
{
    
    text-decoration: none;
    color:#0065FC;
    margin-top:25px;
    
}
.couleurnoir
{
    color:black;
}
.bleugras /*gras pour libellé s'inscrire */
{
    font-weight: bold;
}
/*bordure bleue*/
.bordure
{
    border-top:1px solid #0065FC;
}
/* Ok pour la partie header 30/08 à 16:47 commit fait */
/* définition de la zone Trouvez votre hébergement */
.Trouvez
{
    padding-right:10px;
    padding-left:10px;
}
.Trouvez h1
{
    margin-top: 5px;
    font-size:16px;
    font-weight: bolder;
        
}
.en_plein
{
    margin-top:5px;
    font-size:11px;
}
.recherche
{
    display:flex;
    margin-top:10px;
}
.icoloc
{
    font-size:12px;
    background:rgb(231, 229, 229);
    border-radius: 10px 0 0 10px;
    width:35px;
    text-align:center;
    padding-top:12px;
    padding-bottom:11px;

}
/* #recherche_ville::placeholder /*pour changer la couleur du texte d'une boîte de saisie */
/* on peut aussi remplacer placeholder par value*/
.zoneville
{
    color:black;
    font-weight:bold;
    font-family:raleway;
         
}

input[type=search] 
{
    border:none;
    width:160px;
    Border-top:1px solid #DEEBFF;
    Border-bottom:1px solid #DEEBFF;
    padding-left:10px;
}
input[type=submit]
{
    width:93px;
    background:#0065FC;
    color:white;
    border-radius:0 10px 10px 0;
    border:none;
}
input[type=submit]:hover
{
    background:#a55413;

}
/* Vu zone 'trouvez ' ok suite mentorat 30/08 */
/* Definiton des zones de filtres */

.filtres /* ok 31/08 */
{
    padding-right:10px;
    padding-left:10px;
}
.secfiltres /* ok 31/08 */
{
    display:flex;
    margin-top:20px;
    font-size:13px;
}

.secfiltres h4 /* ok 31/08*/
{
    display:flex;
    align-items:center;
    padding-right:5px;
}
.secfiltres i /* mise en page images filtres ok 31/08 */
{
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:100%;
    width: 35px;
    height: 35px;
    background:#DEEBFF;
    color:#0065FC;
    margin-right:-15px;
    
}
.secfillib /* mise en page des libellés des filtres  ok 31/08 */
{
    display:flex;
    align-items:center;
    padding-left:25px;
    padding-right:10px;
    border-radius:0 25px 25px 0;
    border-top:2px solid #DEEBFF;
    border-bottom:2px solid #DEEBFF;
    border-right:2px solid #DEEBFF;
    font-weight: bold;
    color:black;
    
}
.secfiltres a /* ok 31/08 */
{
    display:flex;
    text-decoration:none;
    margin-left:20px;
}
.secfiltres a :hover /* ok 31/08 */
{
    font-style:italic;
    font-size: medium;
    
}


/* mise en page ligne  plus de 500...*/
.plus500
{
font-size: 11px;
}
.information
{
    display: flex;
    align-items:center;
    padding-top:15px;
    
}
.information p
{
    padding-left:10px;
}
.information span
{
    border: 1px solid #F2F2F2;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    font-size:13px;
}

.miseinfo /* Il ne faut pas prendre le I cerclé car on fait le cercle
en css*/
{
    color:blue;
    text-align: center;
    width:100%;
    
}

/* mise en page footer */
footer
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(231, 229, 229);
    height:180px;
    
}
footer h4
{
    margin-left:40px;
    Margin-top:30px;
}
footer ul
{
 height:119px;
 text-decoration: none; 
}
footer li
{
    list-style-type: none;
    height: 20px;
    margin-top:10px;
}
footer a
{
    text-decoration: none;
    font-size:0.8em
}
.Margbloc1
{margin-right:500px;
}
.Margbloc2
{
    margin-right:180px;
}