*
{
margin:00px;
}
@font-face {
    font-family: 'Raleway';
    src: url('polices/*.eot');
    src: url('polices/*k.eot?#iefix') format('embedded-opentype'),
         url('./polices/*k.woff') format('woff'),
         url('./polices/raleway-variablefont_wght.ttf') format('truetype'),
         url('./polices/*k.svg#') format('svg');
}
/* styles généraux*/
.flexstart
{
    display: flex;
    justify-content:flex-start ;
}
.flexcentre
{
    display: flex;
    justify-content: center;
    align-items: center;
        
}
.flexbetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.flexaround
{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
body
{
    font-family: Raleway;
    text-decoration-style: normal;
    margin-left:5px;
}
            /* définition du header */

header
{
display:flex;
justify-content:space-between;
padding:10px;

}
header img
{
    height:35px;
    
}
header li
{
    display:inline-block;
    padding-left: 15px;
    padding-right:15px;
    padding-top:25px;
          
       
}
.margemenu
{
    
    text-decoration: none;
    color:#0065FC;
    margin-top:25px;
    
}
.couleurnoir
{
    color:black;
}
.bleugras /*gras pour libellé s'inscrire */
{
    font-weight: bold;
}
/*bordure bleue*/
.bordure
{
    border-top:1px solid #0065FC;
}
/* Ok pour la partie header 30/08 à 16:47 commit fait */
/* définition de la zone Trouvez votre hébergement */
.Trouvez
{
    padding:10px;
}
.Trouvez h1
{
    margin-top: 5px;
    font-size:15px;
    font-weight: bolder;
        
}
.en_plein
{
    margin-top:5px;
    font-size:12px;
}
.recherche
{
    display:flex;
    margin-top:5px;
}
.icoloc
{
    font-size:12px;
    background:rgb(231, 229, 229);
    border-radius: 10px 0 0 10px;
    width:25px;
    text-align:center;
    padding-top:12px;
    padding-bottom:11px;

}
/* #recherche_ville::placeholder /*pour changer la couleur du texte d'une boîte de saisie */
/* on peut aussi remplacer placeholder par value*/
.zoneville
{
    color:black;
    font-weight:bold;
         
}

input[type=search] 
{
    border:none;
    width:140px;
    Border-top:1px solid #DEEBFF;
    Border-bottom:1px solid #DEEBFF;
    padding-left:10px;
}
input[type=submit]
{
    width:100px;
    background:#0065FC;
    color:white;
    border-radius:0 10px 10px 0;
    border:none;
}
input[type=submit]:hover
{
    background:#a55413;

/* }Ok pour définition zone 'trouvez' 30/08 à 17:27 */
/* Definiton des zones de filtres */
.filtres
{
    height: 110px;
}
.secfiltres
{
    height: 85px;
    display:flex;
    margin-top:20px;
    font-size:13px;
}
.secfiltres ul
{   display:flex;
    list-style-type: none;
}
.secfiltres h4
{
    display:flex;
    align-items:center;
}
.secfiltres li
{
    display:flex;
    justify-content: center;
    align-items:center;
}
.secfiltres i /* mise en page images filtres */
{
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:25px;
    width: 42px;
    height: 44px;
    background:#DEEBFF;
    color:#0065FC;
    margin-right:-12px;
    
}
.secfillib /* mise en page des libellés des filtres */
{
    display:flex;
    align-items:center;
    justify-content:center;
    width: auto;
    height:40px;
    padding-left:25px;
    padding-right:10px;
    border-radius:0 25px 25px 0;
    border-top:2px solid #DEEBFF;
    border-bottom:2px solid #DEEBFF;
    border-right:2px solid #DEEBFF;
    font-weight: bold;;
    
}
    /* mise en place hover pour filtres  pas pu faire le changement des deux en même temps*/
.filtreglobal i:hover
{
    background:#F2F2F2;
    border:1px solid #F2F2F2;
}
.filtreglobal div:hover
{
    color:rgb(58, 206, 78);
}
   

/* mise en page ligne  plus de 500...*/

.information
{
    display: flex;
    align-items:center;
}
.information span{
    border: 1px solid #ff0c0c;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

.miseinfo /* Il ne faut pas prendre le I cerclé car on fait le cercle
en css*/
{
    /* display:flex;
    justify-content: center;
    align-items:center;
    height: 20px;
    width:20px;  */
    color:blue;
    text-align: center;
    width:100%;
    /* border-radius:25px 25px 25px 25px;
    border:1px solid #F2F2F2; */
}
.filtres p
{
    font-size:12px;
}
/* mise en page footer */
footer
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(231, 229, 229);
    height:180px;
    
}
footer h4
{
    margin-left:40px;
    Margin-top:30px;
}
footer ul
{
 height:119px;
 text-decoration: none; 
}
footer li
{
    list-style-type: none;
    height: 20px;
    margin-top:10px;
}
footer a
{
    text-decoration: none;
    font-size:0.8em
}
.Margbloc1
{margin-right:500px;
}
.Margbloc2
{
    margin-right:180px;
}